[Unit]
Description=Node.js CPU and MEM Server
After=network.target

[Service]
ExecStart=/usr/bin/node /home/RPI-4B/RPIServer/RPIServer.js
WorkingDirectory=/home/RPI-4B/RPIServer/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=RPI-4B

[Install]
WantedBy=multi-user.target