<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visualization Page</title>
    <link
      href="{{ url_for('static', filename='css/visualization.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/sweetalert-dark.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/view_style.css') }}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css"
    />

    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
        background: url("/static/images/maprova-bg.png") no-repeat center center
          fixed;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
      }

      /* topbar styles */
      .topbar {
        background: linear-gradient(to right, #79ff7d, #04cf5c);
        margin: 0;
        position: fixed;
        width: 100%;
        text-align: center;
        padding: 20px 0rem;
        height: 55px;
        font-family: "Titillium Web", sans-serif;
        top: 0;
        left: 0;
        z-index: 10;
      }

      .topbar img {
        width: 150px;
        height: auto;
      }

      /* Icon container on the left */
      .icon-container {
        display: flex;
        gap: 15px;
        margin-left: 20px;
      }

      /* Styling for individual icons */
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
      }

      /* Center the logo */
      .topbar img {
        display: block;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div
      class="topbar shadow-lg d-flex justify-content-between align-items-center mb-5"
    >
      <!-- Icon container on the left -->
      <div class="icon-container d-flex gap-2">
        <!-- USB icon -->
        <div
          id="usbIcon"
          class="icon mdi mdi-usb fs-6"
          title="USB Status"
        ></div>

        <!-- WiFi icon -->
        <div
          id="wifiIcon"
          class="icon mdi mdi-wifi fs-6"
          title="WiFi Status"
        ></div>

        <!-- Server icon -->
        <div
          id="serverIcon"
          class="icon mdi mdi-circle fs-6"
          title="Server Status"
        ></div>

        <!-- CPU percentage -->
        <div
          class="icon mdi mdi-monitor fs-6 ms-4"
          title="CPU Usage"
          id="cpuClass"
        >
          <span class="ms-2" id="cpuUsage">0%</span>
        </div>
      </div>

      <!-- Centered logo -->
      <a class="flex-grow-1 text-center">
        <img
          src="{{ url_for('static', filename='images/dark-logo.png') }}"
          alt="Logo"
          style="max-width: 100%; height: auto"
        />
      </a>
    </div>
    <script>
      // Function to set USB icon color
      function setUsbIconColor(color) {
        const usbIcon = document.querySelector("#usbIcon");
        usbIcon.style.color = color; // Set the icon color directly
      }

      // Function to set WiFi icon color
      function setWifiIconColor(color) {
        const wifiIcon = document.querySelector("#wifiIcon");
        wifiIcon.style.color = color; // Set the icon color directly
      }

      // Function to set Server icon color
      function setServerIconColor(color) {
        const serverIcon = document.querySelector("#serverIcon");
        serverIcon.style.color = color; // Set the icon color directly
      }

      // Function to set Server icon heatmap color for CPU temperature
      function setCpuTempHeatmap(temp) {
        const serverIcon = document.querySelector("#serverIcon");

        // Define temperature range and corresponding colors
        if (temp < 40) {
          serverIcon.style.color = "blue"; // Cold temperature
        } else if (temp >= 40 && temp <= 60) {
          serverIcon.style.color = "green"; // Moderate temperature
        } else if (temp > 60 && temp <= 80) {
          serverIcon.style.color = "yellow"; // Warm temperature
        } else {
          serverIcon.style.color = "red"; // Hot temperature
        }

        // Optionally add temperature value as percentage
        serverIcon.title = `CPU Temp: ${temp}°C`;
      }

      // Function to periodically fetch system info and update the icons
      function updateSystemInfo() {
        fetch("/api/system_info")
          .then((response) => response.json())
          .then((data) => {
            const {
              ssid,
              network_state,
              push_status,
              cpu_temp,
              memory_usage,
              cpu_usage,
            } = data;

            // Set WiFi icon color based on network state
            if (network_state === "connected") {
              setWifiIconColor("green"); // Green for connected
            } else {
              setWifiIconColor("red"); // Red for disconnected
            }

            // Set USB icon color based on push status
            if (push_status === true) {
              setUsbIconColor("green"); // Green for active
            } else {
              setUsbIconColor("red"); // Red for inactive
            }

            // Set Server icon heatmap color based on CPU temperature
            setCpuTempHeatmap(cpu_temp);

            // Update CPU usage percentage
            document.querySelector("#cpuUsage").textContent = `${cpu_usage}%`;

            // Set the color of CPU usage percentage based on the value
            const cpuClass = document.querySelector("#cpuClass");
            if (cpu_usage < 50) {
              cpuClass.style.color = "green"; // Low usage
            } else if (cpu_usage >= 50 && cpu_usage < 80) {
              cpuClass.style.color = "yellow"; // Moderate usage
            } else {
              cpuClass.style.color = "red"; // High usage
            }
          })
          .catch((error) => {
            console.error("Error fetching system info:", error);
          });
      }

      // Call updateSystemInfo every 10 seconds
      setInterval(updateSystemInfo, 10000);

      // Initial call to fetch and update system info
      updateSystemInfo();
    </script>

    <div id="visualizations" class="mt-5">
      <div id="vizcon1"></div>
      <div id="vizcon2"></div>
      <div id="vizcon3"></div>
    </div>

    <div id="breakingNewsBar" class="breaking-news-bar">
      <div class="news-icon-container">
        <div
          class="news-icon d-flex align-items-center justify-content-center fw-bolder"
          id="newsIcon"
        ></div>
      </div>
      <div class="news-content-container">
        <div class="news-time fw-bold" id="newsTime"></div>
        <div id="systemInfo"></div>
        <div class="update-time fw-bold" id="updateTimer">
          Opdaterer om 60 sekunder
        </div>
      </div>
      <div class="news-content fw-bold" id="newsContent"></div>
    </div>

    <script src="{{ url_for('static', filename='js/view_script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sweetalert.js') }}"></script>

    <script>
      var socket = io.connect("http://127.0.0.1:5000");

      document.addEventListener("DOMContentLoaded", function () {
        let messageQueue = [];
        let displayTimeout;

        const newsIcon = document.getElementById("newsIcon");
        const newsContent = document.getElementById("newsContent");
        const newsTime = document.getElementById("newsTime");
        const breakingNewsBar = document.getElementById("breakingNewsBar");

        // Estimate the maximum number of characters that can fit in the message display area
        function estimateMaxChars(sampleText, fontSize, fontFamily) {
          const containerWidth = window.innerWidth - 200;
          const span = document.createElement("span");
          document.body.appendChild(span);
          span.style.fontSize = fontSize;
          span.style.fontFamily = fontFamily;
          span.style.visibility = "hidden";
          span.textContent = sampleText;
          const sampleTextWidth = span.offsetWidth;
          const maxChars = Math.floor(
            (containerWidth / sampleTextWidth) * sampleText.length
          );
          document.body.removeChild(span);
          return maxChars;
        }

        const maxMessageLength = estimateMaxChars(
          "Sample Text",
          "60px",
          "Arial"
        );

        function updateDateTime() {
          const now = new Date();
          const options = {
            weekday: "long",
            year: "numeric",
            month: "long",
            day: "numeric",
          };
          let formattedDate = now.toLocaleDateString("da-DK", options);
          const formattedTime = now.toLocaleTimeString("da-DK", {
            hour: "2-digit",
            minute: "2-digit",
          });
          formattedDate =
            formattedDate.charAt(0).toUpperCase() + formattedDate.slice(1);
          newsTime.textContent = `${formattedDate} - ${formattedTime}`;
        }

        function splitMessage(message, color, icon) {
          let parts = [];
          while (message.length > 0) {
            let end = Math.min(message.length, maxMessageLength);
            // Adjust the end index to avoid splitting in the middle of a word
            end =
              end < message.length && message[end] !== " "
                ? message.lastIndexOf(" ", end) + 1
                : end;
            let part = message.slice(0, end).trim();
            // Include the icon along with each message part
            parts.push({
              icon: icon,
              message: part + (end < message.length ? " ..." : ""),
              color: color,
            });
            message = message.slice(end);
          }
          return parts;
        }

        function prepareMessages(messages) {
          messages.forEach((item) => {
            if (item.message.length > maxMessageLength) {
              // Pass the icon along with the message and color
              splitMessage(item.message, item.color, item.icon).forEach(
                (part) => messageQueue.push(part)
              );
            } else {
              messageQueue.push(item);
            }
          });
        }

        function showMessage() {
          if (messageQueue.length === 0) {
            return;
          }

          const { icon, message, color } = messageQueue.shift();
          newsIcon.innerHTML = `<span class="mdi mdi-${icon}"></span>`;
          newsContent.textContent = message;
          newsIcon.style.backgroundColor = color;
          breakingNewsBar.style.backgroundColor = color;

          breakingNewsBar.style.bottom = "0px";
          newsIcon.style.opacity = "1";
          newsTime.style.paddingLeft = "125px";

          if (messageQueue.length === 0) {
            setTimeout(() => {
              breakingNewsBar.style.bottom = "-100px";
              newsIcon.style.opacity = "0";
              newsTime.style.paddingLeft = "15px";
              displayTimeout = setTimeout(loadData, 10000); // Restart the cycle
            }, 5000);
          } else {
            displayTimeout = setTimeout(showMessage, 7000); // Show the next message
          }
        }

        function loadData() {
          fetch("http://127.0.0.1:5000/api/get_messages")
            .then((res) => res.json())
            .then((data) => {
              const messages = data.map((item) => ({
                icon: item.message_icon,
                message: item.message_text,
                color: item.message_color,
              }));
              prepareMessages(messages);
              showMessage(); // Start showing messages after preparation
            })
            .catch((err) => console.error(err));
        }

        loadData();
        setInterval(updateDateTime, 1000);
      });

      // Define a SweetAlert mixin with your desired settings
      const toast = Swal.mixin({
        toast: true,
        position: "bottom-start",
        background: "#343a40", // Dark color
        color: "#ffffff", // White text color
        showConfirmButton: false, // No buttons
        timer: false, // No auto timer
        showCloseButton: false, // No close button
        allowOutsideClick: false,
        allowEscapeKey: false,
      });

      // Trigger SweetAlert when the socket disconnects
      socket.on("disconnect", function () {
        toast.fire({
          title: "Advarsel",
          text: "Forbindelsen til serveren er afbrudt. Genindlæs siden.",
          icon: "warning",
        });
      });

      // Remove the alert when the socket connection is reinstated
      socket.on("connect", function () {
        Swal.close(); // This will close any active alert
        Swal.mixin({
          toast: true,
          position: "bottom-start",
          background: "#343a40", // Dark color
          color: "#ffffff", // White text color
          showConfirmButton: false, // No buttons
          timer: false, // No auto timer
          showCloseButton: false, // No close button
          allowOutsideClick: false,
          allowEscapeKey: false,
          title: "Success",
          icon: "success",
          text: "Forbindelsen til serveren er genoprettet.",
        });
      });
    </script>
  </body>
</html>
